.table thead td, .table thead th {
  border-bottom-width: 1px;
  border-color: #e7e7e7;
  color: #000;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

.table tbody td {
  color: #000;
  border-color: #f3f3f3;
}

@media screen and (max-width: 768px) {
  .card.table-conversible {
    box-shadow: none;
    border-radius: 0;
    background: none;
    overflow: visible;
    border: 0;
  }

  .table-conversible table {
    background: none;
  }

  .table-conversible thead {
    display: none;
  }

  .table-conversible tbody, .table-conversible tr {
    display: block;
    width: 100%;
  }

  .table-conversible tr {
    overflow: auto;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
  }
  
  .table-conversible tbody tr + tr {
    margin-top: 1rem;
  }

  .table-conversible tbody td {
    display: flex;
    justify-content: space-between;
    text-align: right;
    border: none;
  }

  .table-conversible tbody td:not(.actions-column)::before {
    content: attr(data-label);
    font-weight: bold;
  }

  .table-conversible tbody td.actions-column {
    display: flex;
    justify-content: space-around;
  }

  // .table-conversible tbody td:last-child {
  //   border: 0;
  // }

  // .table-conversible .table tbody tr:last-child td {
  //   border-bottom-width: 1px;
  // }
}
