html {
  font-size: 14px !important;
  overflow: hidden;
  font-weight: 300;
  font-style: normal;
}

.button {
  border: 0;
  border-radius: 4px;
  height: 32px;
  font-size: 13px;
  font-weight: 400;
  padding: 8px 32px;
  min-width: 80px;
  width: auto;
  overflow: hidden;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .05s linear;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.button-firefox-primary {
  color: white;
  background-color: #0060df;
  &:hover {
    background-color: #003eaa;
  }

  &:active {
    background-color: #002275;
    box-shadow: 0px 0px 0px 2px rgba(0,96,223,.3);
  }
}

.button-firefox-default {
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
}

.button.is-ghost {
  color: #606060;
  background: transparent;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Fonts */
.f-secondary {
  font-family: 'Roboto', sans-serif;
}
/* ----- */

::placeholder,
::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
  color: #aaa !important;
}

.w-340px {
  width: 340px;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.p-1 {
  padding: .25rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 2.5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.m-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-gray-200 {
  background-color: #F3F3F3;
}

.bg-white {
  background-color: #fff;
}

.rounded {
  border-radius: .25rem;
}

.has-zindex-1 {
  z-index: 1;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.has-auto-scroll {
  overflow: auto;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

.header-title-line .button + * {
  margin-left: .25rem;
}

.card {
  // @extend .rounded;
  // @extend .bg-white;
  // // @extend .shadow;
  background-color: #fff;
  box-shadow: none;
  border-radius: 8px;
  overflow: auto;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #DADADA;
}

.subform {
  @extend .rounded;
    // background-color: #fafafa;
    background-color: #f1f1f1;
    // background-color: #ffffff;
  // border: 1px solid #eee;
  border: 2px solid #DADADA;

  .subform-footer {
    // background-color: #f1f1f1;
    background-color: #fafafa;
    padding: 1rem;
  }

  .subform-column-wrapper {
    @extend .rounded;
    background-color: #fff;
    // background-color: #f1f1f1;
    // background-color: #F3F3F3;
    // border: 1px solid #e1e1e1;
    padding: .75rem;

    & + .subform-column-wrapper {
      margin-top: .5rem;
    }

    .action-bar {
      background-color: #fafafa;
    }
  }
}

.helper-text-icon {
  cursor: pointer;
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 16px;
}
