<script>
  import moment from 'moment'
  import Flatpickr from 'svelte-flatpickr'
  import { Portuguese } from "flatpickr/dist/l10n/pt.js"
  import { getLabel, getPlaceholder, getFilterLabel } from '../utils/view-helper'

  import 'flatpickr/dist/flatpickr.css'
  import 'flatpickr/dist/themes/light.css'

  export let item = null
  export let field = null
  export let filter = null
  export let index = null

  let key = field.ModelField.name
  let id = `field_${field.ModelField.name}`
  let isFilter = !!filter

  if (index !== null) {
    id = `${id}_${index}`
    key = `${key}_${index}`
  }

  let pickerId = `${id}_picker`

  let options = {
    locale: Portuguese,
    disableMobile: true,
    formatDate (date, format, locale) {
      return moment(date).format('DD/MM/YYYY')
    },
  }
</script>

{#if isFilter}
  <Flatpickr options="{ options }" bind:value={item[key]} element="#{pickerId}">
    <div class="field {field.canUpdate || isFilter ? 'has-addons' : ''}" id="{pickerId}">
      <div class="control">
        <input type="text" data-input 
          name="{id}" 
          id="{id}" 
          class="input" 
          placeholder="{isFilter ? getFilterLabel(filter) : getPlaceholder(field)}" 
          required={!isFilter && field.required} 
          disabled="{!isFilter && !field.canUpdate}"
        />
      </div>

      {#if field.canUpdate || isFilter}
        <div class="control">
          <span class="button" data-clear title="{getLabel('clear')}">&times;</span>
        </div>
      {/if}
    </div>
  </Flatpickr>

{:else}
  <Flatpickr options="{ options }" bind:value={item[key]} element="#{pickerId}">
    <div class="field {field.canUpdate ? 'has-addons' : ''}" id="{pickerId}">
      <div class="control flex-grow">
        <input type="text" data-input 
          name="{id}" 
          id="{id}" 
          class="input" 
          placeholder="{getPlaceholder(field)}" 
          required={field.required} 
          disabled="{!field.canUpdate}"
        />
      </div>

      {#if field.canUpdate}
        <div class="control">
          <span class="button" data-clear title="{getLabel('clear')}">&times;</span>
        </div>
      {/if}
    </div>
  </Flatpickr>
{/if}
