<script>
  import Notification from '../../components/Notification.svelte'
  import { post } from '../../utils/request'
  import { user, authToken } from '../../store'
  import { push } from 'svelte-spa-router'

  const loginForm = {
    locked: false,
    messages: [],
    email: null,
    password: null,
  }

  function submit ($event) {
    $event.preventDefault()
    loginForm.locked = true

    post('/sessions', { email: loginForm.email, password: loginForm.password }, null, false)
      .then(response => {
        user.set(response.data.user)
        authToken.set(response.data.token)
        localStorage.setItem('user', JSON.stringify($user))
        localStorage.setItem('authToken', $authToken)

        push('/')

        window.postMessage('update-metadata')
      })
      .catch(error => {
        console.error(error)
        loginForm.messages = error.response.data.messages
        user.set(null)
        authToken.set(null)
        localStorage.removeItem('user')
        localStorage.removeItem('authToken')
      })
      .finally(() => {
        loginForm.locked = false
      })
  }
</script>

<div class="h-screen container is-fluid has-background-white">
  <div class="flex items-center justify-center h-full">
  <!-- <div class="bg-gray-200 h-full columns is-mobile is-centered"> -->
    <div class="w-340px">
    <!-- <div class="column is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd"> -->
      <!-- <h1 class="is-size-3">Entrar</h1> -->

      <!-- <div class="column is-centered mb-4 p-5">
        <figure class="flex items-center justify-center m-auto image is-1by1">
          <svg id="hs-lgpd" class="h-full" data-name="hs-lgpd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.65 510">
            <defs><style>.cls-1{fill:#dfc952;}.cls-2{fill:#606060;}.cls-3{fill:#fff;}</style></defs>
            <rect class="cls-1" width="378.65" height="378.65" rx="161.4"/>
              <path class="cls-2" d="M98,445.32h7.29v57.84h36.34v6.73H98Z" transform="translate(-66.68 -1)"/>
              <path class="cls-2" d="M220.16,508.1a36.43,36.43,0,0,1-14.8,2.9,34.4,34.4,0,0,1-13.7-2.59,30.52,30.52,0,0,1-10.33-7.1,30.85,30.85,0,0,1-6.55-10.6,37,37,0,0,1-2.26-13A35.18,35.18,0,0,1,174.87,465a33.49,33.49,0,0,1,6.6-10.7,31.19,31.19,0,0,1,23.43-10,45.78,45.78,0,0,1,7.42.55,32,32,0,0,1,6.27,1.66,30.8,30.8,0,0,1,5.45,2.72,46.29,46.29,0,0,1,4.93,3.64l-4.7,5.54a31.67,31.67,0,0,0-3.88-3A26,26,0,0,0,216,453a28.1,28.1,0,0,0-5.16-1.52,32.31,32.31,0,0,0-6.23-.55,22.84,22.84,0,0,0-9.87,2.13A23.9,23.9,0,0,0,187,458.8a26.89,26.89,0,0,0-5.07,8.46,28.72,28.72,0,0,0-1.84,10.3,31.29,31.29,0,0,0,1.79,10.77,25.2,25.2,0,0,0,5.12,8.54,23.52,23.52,0,0,0,8,5.64,26.38,26.38,0,0,0,10.61,2,28.43,28.43,0,0,0,10.42-1.9,30.49,30.49,0,0,0,8.21-4.58V481.94H204.62v-6.46h26.66v25.67A41.43,41.43,0,0,1,220.16,508.1Z" transform="translate(-66.68 -1)"/><path class="cls-2" d="M318,475.12a19.57,19.57,0,0,1-5.49,6.64,24,24,0,0,1-8.07,4,35.07,35.07,0,0,1-9.78,1.34H279v22.78h-7.29V445.32h24.17a32.49,32.49,0,0,1,9.91,1.43,22.84,22.84,0,0,1,7.66,4.06,17.63,17.63,0,0,1,4.89,6.46,20.92,20.92,0,0,1,1.71,8.62A20.05,20.05,0,0,1,318,475.12Zm-10-19.51q-4.77-3.56-12.63-3.55H279v28.41h16a24.4,24.4,0,0,0,7.26-1,16.72,16.72,0,0,0,5.64-2.9,12.67,12.67,0,0,0,3.61-4.52,13.53,13.53,0,0,0,1.25-5.86Q312.73,459.17,308,455.61Z" transform="translate(-66.68 -1)"/><path class="cls-2" d="M411.52,490.29a29.74,29.74,0,0,1-7.06,10.28,33.2,33.2,0,0,1-10.88,6.83,37.57,37.57,0,0,1-13.88,2.49H357.28V445.32H379.7a38.19,38.19,0,0,1,13.88,2.45,32.76,32.76,0,0,1,10.88,6.78,30,30,0,0,1,7.06,10.24A32.39,32.39,0,0,1,414,477.51,32.76,32.76,0,0,1,411.52,490.29Zm-7-22.65a24.15,24.15,0,0,0-5.35-8.16,24.66,24.66,0,0,0-8.44-5.44,29.67,29.67,0,0,0-11.06-2H364.57v51.1H379.7a30.28,30.28,0,0,0,11.06-1.94,23.84,23.84,0,0,0,13.79-13.47,26,26,0,0,0,1.9-10.05A26.56,26.56,0,0,0,404.55,467.64Z" transform="translate(-66.68 -1)"/><path class="cls-3" d="M195.5,300.4c-15.77-6.13-23.34-17-26.84-27.46-2.7-8.39-2.42-20.27-2.42-20.27L166.16,177c-2.16-2-12.68-11.27-16.47-22.34l0,103.69.09,0c1.11,26.92,15.49,47.61,39.84,57.06a8,8,0,1,0,5.84-15Z" transform="translate(-66.68 -1)"/><path class="cls-3" d="M320.76,194.41c-22.61-9.3-49.61-11.09-63.83-12.1l-1.94-.14c-3.51-.24-6.53-.46-8.72-.7l-1.3-.14c-39.12-4.26-78.51-14.21-78.51-55.62,0-22.81,9.26-37.17,29-45.46,3.34-1.4,3.59-2.29,4.46-4.26a8,8,0,0,0,.14-6.16,8.13,8.13,0,0,0-7.52-5.14,7.42,7.42,0,0,0-2.91.55c-24.61,10.27-40,32.83-40,61.62,0,43.66,34.75,55.74,38.37,57.23,20.15,8.31,41.89,11.8,55.16,13.25l1.29.14c2.49.27,5.67.49,9.34.75l1,.08.22,0,1.93.13c3.51.25,6.54.46,8.72.7l1.3.14c39.12,4.27,78.91,14.21,78.91,55.63,0,15.21-4.09,35.53-29.44,45.46a8,8,0,1,0,5.84,15c25.37-9.84,39.92-31.88,39.92-60.46,0-.58,0-1.15,0-1.72C362.21,234.12,355.41,207.87,320.76,194.41Z" transform="translate(-66.68 -1)"/>
              <path class="cls-3" d="M316.47,80.25c15.78,6.12,23.34,17,26.84,27.46,2.7,8.39,2.42,20.26,2.42,20.26l0,75c4.44,4.06,12.07,12.09,16.5,23.06V178.47s.09-49.14,0-49.17l-.1,0c0-.58,0-1.15,0-1.74v-.09c0-.57,0-1.15,0-1.72,0-28.58-14.55-50.62-39.92-60.47a8.13,8.13,0,0,0-2.92-.55,8.05,8.05,0,0,0-2.92,15.56Z" transform="translate(-66.68 -1)"/>
          </svg>
        </figure>
      </div> -->

      <form on:submit={submit}>
        <div class="mb-4">
          <!-- <label class="label" for="email">E-mail</label> -->
          <input bind:value={loginForm.email} class="input" id="email" type="email" placeholder="E-mail" autocomplete="username">
        </div>

        <div class="mb-4">
          <!-- <label class="label" for="password">Senha</label> -->
          <input bind:value={loginForm.password} class="input" id="password" type="password" placeholder="Senha" autocomplete="current-password">
        </div>

        <Notification messages={loginForm.messages} />

        <!-- <div class="flex items-center justify-between">
          <button disabled={loginForm.locked} class="button is-link" type="submit">Entrar</button>
          <a class="link is-link is-light" href="#/forgot-password">Esqueceu sua senha?</a>
        </div> -->
        <div class="has-text-centered">
          <button disabled={loginForm.locked} class="button mb-4 is-medium is-fullwidth is-uppercase is-link has-text-weight-medium" type="submit">Acessar</button>
          <!-- <a class="link is-link is-light" href="#/reset-password">Esqueceu sua senha?</a> -->
        </div>
      </form>
    </div>
  </div>
  
  <!-- <div id="powered-by" class="flex items-center ">
      <a href="https://labsstudio.games/index.html" target="_blank" class="">
        <svg id="powered-by-svg" data-name="powered-by-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329.71 33.89"><defs><style>.cls-2{fill:#4a4a4a;}</style></defs><path class="cls-1" d="M14.58,18.56a4.34,4.34,0,0,1,1.52,3.52,4.32,4.32,0,0,1-1.52,3.51,6.33,6.33,0,0,1-4.2,1.27H6.62v4.42H5.14v-14h5.24A6.33,6.33,0,0,1,14.58,18.56Zm-1.06,6.09a3.13,3.13,0,0,0,1.1-2.57,3.18,3.18,0,0,0-1.1-2.61,4.84,4.84,0,0,0-3.18-.91H6.62v7h3.72A4.84,4.84,0,0,0,13.52,24.65Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M20.5,30.69a5.1,5.1,0,0,1-1.92-1.91,5.79,5.79,0,0,1,0-5.52,5,5,0,0,1,1.92-1.9,5.86,5.86,0,0,1,5.48,0,4.85,4.85,0,0,1,1.91,1.9,5.87,5.87,0,0,1,0,5.52A4.94,4.94,0,0,1,26,30.69a5.79,5.79,0,0,1-5.48,0Zm4.75-1.08a3.47,3.47,0,0,0,1.39-1.45,4.83,4.83,0,0,0,0-4.28,3.47,3.47,0,0,0-1.39-1.45,4,4,0,0,0-2-.51,4,4,0,0,0-2,.51,3.62,3.62,0,0,0-1.4,1.45,4.74,4.74,0,0,0,0,4.28,3.62,3.62,0,0,0,1.4,1.45,4,4,0,0,0,2,.51A4,4,0,0,0,25.25,29.61Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M46.62,20.76l-4,10.52H41.3L38,22.66l-3.32,8.62H33.32l-4-10.52h1.36L34,29.7l3.38-8.94h1.22L42,29.7l3.34-8.94Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M57.62,26.46h-8.8a3.76,3.76,0,0,0,1.26,2.65,4.2,4.2,0,0,0,2.88,1,4.55,4.55,0,0,0,1.8-.35,3.9,3.9,0,0,0,1.42-1l.8.92a4.42,4.42,0,0,1-1.75,1.28,6,6,0,0,1-2.31.44,5.86,5.86,0,0,1-2.87-.69,5,5,0,0,1-1.95-1.91A5.5,5.5,0,0,1,47.4,26a5.69,5.69,0,0,1,.67-2.76,4.87,4.87,0,0,1,1.84-1.9,5.18,5.18,0,0,1,2.63-.68,5.09,5.09,0,0,1,2.62.68A4.73,4.73,0,0,1,57,23.25,5.7,5.7,0,0,1,57.64,26ZM50,22.87a3.88,3.88,0,0,0-1.17,2.53h7.46a3.79,3.79,0,0,0-1.17-2.53,3.86,3.86,0,0,0-5.12,0Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M63.39,21.22a5.07,5.07,0,0,1,2.45-.54v1.38l-.34,0a3.37,3.37,0,0,0-2.6,1A4.09,4.09,0,0,0,62,25.92v5.36H60.54V20.76H61.9v2.06A3.46,3.46,0,0,1,63.39,21.22Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M77.46,26.46h-8.8a3.76,3.76,0,0,0,1.26,2.65,4.2,4.2,0,0,0,2.88,1,4.55,4.55,0,0,0,1.8-.35,3.9,3.9,0,0,0,1.42-1l.8.92a4.42,4.42,0,0,1-1.75,1.28,6,6,0,0,1-2.31.44,5.86,5.86,0,0,1-2.87-.69,5,5,0,0,1-2-1.91,5.5,5.5,0,0,1-.7-2.76,5.69,5.69,0,0,1,.67-2.76,4.87,4.87,0,0,1,1.84-1.9,5.18,5.18,0,0,1,2.63-.68,5.09,5.09,0,0,1,2.62.68,4.73,4.73,0,0,1,1.82,1.89A5.7,5.7,0,0,1,77.48,26Zm-7.63-3.59a3.88,3.88,0,0,0-1.17,2.53h7.46A3.79,3.79,0,0,0,75,22.87a3.86,3.86,0,0,0-5.12,0Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M90,16.44V31.28H88.62V29.2a4.24,4.24,0,0,1-1.69,1.62,5,5,0,0,1-2.37.56,5.39,5.39,0,0,1-2.68-.68A4.9,4.9,0,0,1,80,28.8a6,6,0,0,1,0-5.56,4.88,4.88,0,0,1,1.88-1.89,5.39,5.39,0,0,1,2.68-.67,5,5,0,0,1,2.31.53,4.33,4.33,0,0,1,1.69,1.55V16.44ZM86.67,29.61a3.56,3.56,0,0,0,1.4-1.45,4.74,4.74,0,0,0,0-4.28,3.56,3.56,0,0,0-1.4-1.45,3.9,3.9,0,0,0-2-.51,4,4,0,0,0-2,.51,3.62,3.62,0,0,0-1.4,1.45,4.74,4.74,0,0,0,0,4.28,3.62,3.62,0,0,0,1.4,1.45,4,4,0,0,0,2,.51A3.9,3.9,0,0,0,86.67,29.61Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M107.28,21.35a4.81,4.81,0,0,1,1.88,1.89,6,6,0,0,1,0,5.56,4.84,4.84,0,0,1-1.88,1.9,5.37,5.37,0,0,1-2.68.68,5,5,0,0,1-2.37-.56,4.31,4.31,0,0,1-1.69-1.62v2.08H99.18V16.44h1.42v6.32a4.4,4.4,0,0,1,1.69-1.55,5,5,0,0,1,2.31-.53A5.36,5.36,0,0,1,107.28,21.35Zm-.78,8.26a3.58,3.58,0,0,0,1.41-1.45,4.74,4.74,0,0,0,0-4.28,3.58,3.58,0,0,0-1.41-1.45,4.2,4.2,0,0,0-4,0,3.62,3.62,0,0,0-1.4,1.45,4.74,4.74,0,0,0,0,4.28,3.62,3.62,0,0,0,1.4,1.45,4.2,4.2,0,0,0,4,0Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M121.28,20.76,116,32.54a4.93,4.93,0,0,1-1.48,2.1,3.32,3.32,0,0,1-2,.62A4.11,4.11,0,0,1,111.1,35,3.08,3.08,0,0,1,110,34.3l.66-1.06a2.65,2.65,0,0,0,1.92.8,1.91,1.91,0,0,0,1.23-.4,3.62,3.62,0,0,0,1-1.36l.46-1-4.7-10.5H112l4,8.94,4-8.94Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M174.18,27.76a1,1,0,0,1-.27-.77l0-18.87h-4.13l.06,19.14c0,1.73.33,2.93,1,3.61a4,4,0,0,0,2.95,1,13.56,13.56,0,0,0,2.29-.2V27.89a6,6,0,0,1-1,.1A1.27,1.27,0,0,1,174.18,27.76Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M191.47,14.34l0,2.1A8.89,8.89,0,0,0,189,14.89a7.74,7.74,0,0,0-2.92-.55,8.32,8.32,0,0,0-4.42,1.15,7.65,7.65,0,0,0-2.92,3.15,9.82,9.82,0,0,0-1,4.49,9.85,9.85,0,0,0,1,4.49,7.54,7.54,0,0,0,2.92,3.13A8.4,8.4,0,0,0,186,31.88a7.93,7.93,0,0,0,2.92-.54,9.12,9.12,0,0,0,2.54-1.55v2.09h4.13l0-17.54Zm-.65,11.25a4.61,4.61,0,0,1-1.76,1.72,5.06,5.06,0,0,1-2.48.61,4.62,4.62,0,0,1-4.8-4.79,4.61,4.61,0,0,1,4.8-4.79,4.9,4.9,0,0,1,3.48,1.33,4.49,4.49,0,0,1,1.41,3.43A4.82,4.82,0,0,1,190.82,25.59Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M214.24,15.49a8.33,8.33,0,0,0-4.43-1.15,8,8,0,0,0-3.11.63A8.63,8.63,0,0,0,204,16.74V8.12h-4.13V31.88H204V29.49a8.74,8.74,0,0,0,2.66,1.76,8,8,0,0,0,3.13.63,8.41,8.41,0,0,0,4.43-1.13,7.45,7.45,0,0,0,2.91-3.13,9.73,9.73,0,0,0,1-4.49,9.7,9.7,0,0,0-1-4.49A7.56,7.56,0,0,0,214.24,15.49Zm-1.51,11.08a4.67,4.67,0,0,1-3.45,1.35,5,5,0,0,1-2.48-.61A4.61,4.61,0,0,1,205,25.59a4.72,4.72,0,0,1-.65-2.49,4.49,4.49,0,0,1,1.41-3.43,4.86,4.86,0,0,1,3.48-1.33,4.59,4.59,0,0,1,4.79,4.79A4.66,4.66,0,0,1,212.73,26.57Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M231.38,22.1a19.49,19.49,0,0,0-3.22-.9,13.24,13.24,0,0,1-2.48-.72,1.12,1.12,0,0,1-.79-1.05,1.53,1.53,0,0,1,.7-1.31,3.26,3.26,0,0,1,1.87-.48,3.18,3.18,0,0,1,3.16,1.86L234,17.8a6.33,6.33,0,0,0-2.64-2.56,8.25,8.25,0,0,0-3.88-.9,8.83,8.83,0,0,0-3.37.63,5.79,5.79,0,0,0-2.43,1.82,4.51,4.51,0,0,0-.89,2.78,3.75,3.75,0,0,0,.89,2.61,5.4,5.4,0,0,0,2.14,1.45,26.56,26.56,0,0,0,3.19.93,16.86,16.86,0,0,1,2.75.85,1.26,1.26,0,0,1,.85,1.18,1.55,1.55,0,0,1-.94,1.43,4.56,4.56,0,0,1-2.23.5c-2,0-3.29-.76-3.89-2.3L220.13,28a6.26,6.26,0,0,0,2.78,2.86,9.47,9.47,0,0,0,4.51,1,10.06,10.06,0,0,0,3.57-.61,6.21,6.21,0,0,0,2.61-1.82,4.35,4.35,0,0,0,1-2.83,4.27,4.27,0,0,0-1-2.91A5.6,5.6,0,0,0,231.38,22.1Z" transform="translate(-5.14 -3.05)"/><circle class="cls-1" cx="239.89" cy="29.64" r="2.25" transform="translate(115.56 236.87) rotate(-67.5)"/><path class="cls-1" d="M255.08,23.05a24.78,24.78,0,0,0-3.18-.93c-1.07-.27-1.9-.51-2.48-.71a4.23,4.23,0,0,1-1.46-.83,1.83,1.83,0,0,1-.58-1.41,3,3,0,0,1,1.15-2.45,4.85,4.85,0,0,1,3.13-.94,5.37,5.37,0,0,1,2.8.71,3.93,3.93,0,0,1,1.69,1.94l1.38-.74a5.42,5.42,0,0,0-2.28-2.46,7.08,7.08,0,0,0-3.59-.89,7.16,7.16,0,0,0-3.06.64,5.07,5.07,0,0,0-2.11,1.74,4.35,4.35,0,0,0-.76,2.48,3.15,3.15,0,0,0,.81,2.26,5,5,0,0,0,1.94,1.28,29.45,29.45,0,0,0,3.05.88c1.09.27,2,.52,2.6.74a4.43,4.43,0,0,1,1.6,1,2.19,2.19,0,0,1,.66,1.65A2.8,2.8,0,0,1,255,29.45a5.69,5.69,0,0,1-3.27.91,6.59,6.59,0,0,1-3.23-.75,4.24,4.24,0,0,1-1.93-2.27l-1.4.74a5.42,5.42,0,0,0,2.38,2.73,8,8,0,0,0,4.18,1,7.81,7.81,0,0,0,3.22-.62,5.19,5.19,0,0,0,2.21-1.72A4.16,4.16,0,0,0,258,27a3.62,3.62,0,0,0-.86-2.52A5.49,5.49,0,0,0,255.08,23.05Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M266,29.57a4.16,4.16,0,0,1-.62-2.63l0-11.06h4.49V14.34h-4.49l0-4.65h-1.64l0,4.65h-4.22v1.54h4.22l0,11.09a5.65,5.65,0,0,0,1,3.77,3.93,3.93,0,0,0,3.08,1.09,17.14,17.14,0,0,0,2.15-.16V30.16a13,13,0,0,1-1.85.13A2.63,2.63,0,0,1,266,29.57Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M285.34,24c0,2.27-.54,3.89-1.63,4.84A5.49,5.49,0,0,1,280,30.29,6,6,0,0,1,276.21,29c-1.11-.85-1.66-2.28-1.66-4.29V14.34H272.9V24.73A7.36,7.36,0,0,0,274,29a5.87,5.87,0,0,0,2.68,2.19,8.5,8.5,0,0,0,3.07.6,6.46,6.46,0,0,0,3.3-.87,6.16,6.16,0,0,0,2.26-2.18v3H287V14.34h-1.65Z" transform="translate(-5.14 -3.05)"/><path class="cls-1" d="M305.94,18.63a8.31,8.31,0,0,0-2.93-3.1,7.69,7.69,0,0,0-4.14-1.15,8.21,8.21,0,0,0-4.32,1.17,8.49,8.49,0,0,0-3.07,3.17,9.22,9.22,0,0,0,0,8.81,8.47,8.47,0,0,0,3.07,3.16,8.13,8.13,0,0,0,4.32,1.18A7.69,7.69,0,0,0,303,30.71a8.24,8.24,0,0,0,2.93-3.1v4.22h1.61V9.69h-1.61ZM305,26.74a6.67,6.67,0,0,1-2.53,2.58,6.93,6.93,0,0,1-9.57-2.58,7.58,7.58,0,0,1,0-7.24,7,7,0,0,1,9.57-2.58A6.81,6.81,0,0,1,305,19.5a7.58,7.58,0,0,1,0,7.24Z" transform="translate(-5.14 -3.05)"/><rect class="cls-1" x="307.46" y="11.29" width="1.64" height="17.49"/><path class="cls-1" d="M333.68,18.73a8.66,8.66,0,0,0-3.18-3.18,8.75,8.75,0,0,0-8.74,0,8.69,8.69,0,0,0-3.19,3.18,8.76,8.76,0,0,0,0,8.75,8.69,8.69,0,0,0,3.19,3.18,8.75,8.75,0,0,0,8.74,0,8.66,8.66,0,0,0,3.18-3.18,8.7,8.7,0,0,0,0-8.75Zm-1.42,7.93a7.25,7.25,0,0,1-2.58,2.58,7.18,7.18,0,0,1-7.14,0A7.25,7.25,0,0,1,320,26.66a7.18,7.18,0,0,1,0-7.14,7.25,7.25,0,0,1,2.58-2.58,7.18,7.18,0,0,1,7.14,0,7.25,7.25,0,0,1,2.58,2.58,7.12,7.12,0,0,1,0,7.14Z" transform="translate(-5.14 -3.05)"/><polygon class="cls-1" points="137.02 24.57 137.02 24.56 137.01 24.57 137.13 0 131.56 0 131.55 33.9 143.29 27.25 140.62 22.55 137.02 24.57"/><polygon class="cls-1" points="141.57 13.32 149.06 17.69 149.05 17.7 149.06 17.7 144.52 20.3 147.21 24.98 159.87 17.74 141.57 7.13 141.57 13.32"/></svg>
      </a>
  </div> -->
</div>

