<script>
  import { getLabel } from '../../utils/view-helper'
  export let view
  export let id
</script>

<div class="p-6">
  <h1 class="is-size-1">{getLabel('404Error')}</h1>
  <p>{getLabel('pageNotFound')}</p>
</div>
